/* Дан абзац. Даны кнопки 'перечеркнуть', 'сделать жирным', 'сделать красным'. Пусть по нажатию на каждую кнопку заданное действие происходит с абзацем (становится красным, например). */
/* .bold {
    font-weight: bold;
}
.cross-out {
    text-decoration: line-through;
}
.colored {
color: red;
} */

/* #elem { 
    display: none;
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 3px solid yellow; 
}

#elem.active {
    display: block;
} */


/*=========================== Нахождение элементов по родственным связям =================================*/
/* Найдите первого потомка этого элемента и сделайте его текст красного цвета. */
/* Найдите последнего потомка этого элемента и сделайте его текст красного цвета. */
/* .colored {
    color: red;
} */

/* Найдите его родителя и задайте ему красную границу. */
/* Найдите его родителя его родителя и задайте ему красную границу. */
/* .brd {
    border: 2px solid red;
} */


/*=============================== Другие полезные методы для поиска элементов ===============================*/
/* Получите все теги li по имени тега и сделайте их текст красного цвета. */
/* Получите эти элементы по имени класса и сделайте их текст красного цвета. */
.colored {
    color: red;
}
